* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


body {
    margin: 0;
}

.tContainer {
    margin: 60px 15% 0;


    .addBar {
        margin: 0px 0px 20px 0px;
        display: flex;
        flex-wrap: nowrap;
        height: 40px;
        width: 100%;


        input#text {
            width: calc(100% - 100px);
            margin: 0;
            padding: 0px 10px;
            border: 1px solid rgba(0, 0, 0, 0.145);
            border-radius: 5px;
        }

        button#add {
            border: none;
            width: 100px;
            background: rgb(92, 137, 221);
            color: white;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: rgb(47, 75, 126);

            }

        }
    }



    .filterButton {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;

        .filter {
            margin: 0px;
            height: 40px;
            background: rgba(0, 0, 0, 0);
            border: none;
            color: rgb(92, 137, 221);
            border: 1px solid rgb(92, 137, 221);
            cursor: pointer;

            

            &:hover {
                background: rgb(92, 137, 221);
                color: white;
            }

            &:nth-of-type(1) {
                border-radius: 5px 0px 0px 5px;
            }

            &:nth-of-type(2) {
                border-left: none;
                border-right: none;
            }

            &:nth-of-type(3) {
                border-radius: 0px 5px 5px 0px;
            }
        }
    }



    main {

        .taskContainer {
            padding: 0;

            .task {
                display: flex;
                justify-content: left;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.145);

                &:nth-of-type(1) {
                    border-radius: 5px 5px 0 0;
                }

                &:nth-last-of-type(1) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.145);
                    border-radius: 0 0 5px 5px;
                }

                input {
                    margin: 0px 15px;
                }

                button {
                    padding: 5px 10px;
                    justify-self: right;
                    background: red;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    margin: 0 15px 0 auto;
                    cursor: pointer;


                    &:hover {
                        background-color: rgb(131, 0, 0);
                    }
                }
            }
        }
    }
}